.container {
  padding: 20px;
  background-color: #3747ac;
  margin-bottom: 20px;
}
.input {
  position: relative;
  padding: 5px 10px 5px 30px;
  outline: transparent;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  border-color: transparent;
}
.form {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 400px;
}
.form:focus-within .btn {
  transform: scale(1.2);
  color: #3747ac;
}
.btn {
  position: absolute;
  top: 25%;
  left: 3%;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.btn:hover {
  transform: scale(1.2);
  color: #3747ac;
}
